.sp__shopcategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sp__shopcategory-banner {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 5rem;
}

.sp__shopcategory-banner img {
    width: 100%;
}


.sp__shopcategory-itens_markers,
.sp__showcasemarkers-item_planner {
    display: flex;
    width: 50%;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


@media screen and (max-width: 2300px) {
    .sp__shopcategory-itens_markers {
        width: 60%
    }
}

@media screen and (max-width: 2000px) {
    .sp__shopcategory-itens_markers {
        width: 70%
    }

    .sp__shopcategory-banner {
        width: 60%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 1750px) {
    .sp__shopcategory-itens_markers {
        width: 80%
    }

}


@media screen and (max-width: 1500px) {
    .sp__shopcategory-itens_markers {
        width: 100%
    }

    .sp__shopcategory-banner {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1250px) {
    .sp__shopcategory-banner img {
        height: 250px;
    }

}

@media screen and (max-width: 800px) {
    .sp__shopcategory-banner img {
        height: 180px;
    }

}

@media screen and (max-width: 750px) {
    .sp__shopcategory {
        padding: 1rem 1rem !important;
    }

    .sp__shopcategory-itens_markers img {
        width: 100px !important;
        object-fit: unset !important;
    }

    .sp__shopcategory-itens_markers p {
        text-align: left;
        font-size: 14px;
        margin: 0 !important;
    }

    .sp__shopcategory-banner img {
        height: 120px;
    }
}

@media screen and (max-width: 550px) {
    .sp__shopcategory-itens_markers {
        margin-left: 2rem;
    }

    .sp__item {
        width: 40%;
    }

    .sp__shopcategory-banner img {
        height: 100px;
    }
}


@media screen and (max-width: 400px) {
    .sp__shopcategory-banner img {
        height: 80px;
    }

}